<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.code.android.vibevault"
	android:installLocation="auto"
	xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="4.1" android:versionCode="35">

	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="18"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:theme="@style/MaterialBlack">
		<activity android:name="com.code.android.vibevault.HomeScreen"
		    android:theme="@style/MaterialBlack"
		    android:launchMode="singleInstance">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".SearchScreen"
			android:label="@string/app_name"
			android:theme="@style/MaterialBlack"
			android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.archive.org"
					android:pathPrefix="/details/" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="archive.org"
					android:pathPrefix="/details/" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="http" android:host="www.archive.org"
					android:pathPrefix="/download/" />
			</intent-filter>
		</activity>
		<service android:exported="false" android:name="PlaybackService">
		    <intent-filter>
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_PLAY" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_TOGGLE" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_PLAY_POSITION" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_PAUSE" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_NEXT" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_PREV" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_STOP" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_SEEK" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_QUEUE_SONG" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_QUEUE_SHOW" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_MOVE" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_DELETE" />
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_DOWNLOAD"/>
		        <action android:name="com.code.android.vibevault.playbackservice.ACTION_POLL"/>
		    </intent-filter>
		</service>
		<receiver android:name="WidgetRowProvider"
		    android:label="Vibe Vault Row">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/appwidget_row" />
		</receiver>
		<receiver android:name="WidgetListProvider"
		    android:label="Vibe Vault List">
		    <intent-filter>
		        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/appwidget_list" />
		</receiver>
		<receiver android:name="WidgetIntentReceiver">
		    <intent-filter>
		        <action android:name="com.code.android.vibevault.playbackservice.STATE" />      
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider"
		               android:resource="@xml/appwidget_row" />
		</receiver>
		<service android:name="WidgetListService"
		    android:permission="android.permission.BIND_REMOTEVIEWS" />
		    		
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>



	<uses-permission android:name="android.permission.READ_PHONE_DATA"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>


</manifest> 